$footer-height: 4rem;
$footer-background-color: white;
$footer-padding: 0 1rem;
$footer-application-author-font-size: 0.825rem;
$footer-application-version-font-size: 0.825rem;

:host {
  background-color: $footer-background-color;
  height: $footer-height;
  padding: $footer-padding;
  display: flex;
  align-items: center;

  .application {
    &__author {
      font-size: $footer-application-author-font-size;
    }

    &__version {
      font-size: $footer-application-version-font-size;
      margin-left: auto;
    }
  }
}
