$navbar-background-color: white;
$navbar-height: 4rem;
$navbar-padding: 0 1rem;

:host {
  background-color: $navbar-background-color;
  height: $navbar-height;
  padding: $navbar-padding;
  display: flex;
  align-items: center;
}
