<aside class="main__sidebar">
  <app-sidebar></app-sidebar>
</aside>

<div class="main__content">
  <nav class="main__navbar">
    <app-navbar>
      <div class="ms-auto">
        <div>Dzień dobry, słuchaczu!</div>
      </div>
    </app-navbar>
  </nav>

  <main class="main__page">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <section class="main__player"></section>

  <footer class="main__footer">
    <app-footer></app-footer>
  </footer>
</div>
