@use 'src/styles/variables';

:host {
  display: flex;

  .main {
    &__sidebar {
      width: variables.$sidebar-width;
      top: 0;
      position: sticky;
      height: 100vh;
      flex: 0 0 auto;
    }

    &__content {
      flex: 1;
    }

    &__navbar {
      top: 0;
      z-index: 100;
      position: sticky;
    }

    &__page {
      margin: variables.$size-32 variables.$size-28;
      min-height: 120vh;
    }

    &__player {
      position: sticky;
      bottom: 0;
      background-color: white;
      padding: 1rem;
    }
  }
}
