@use 'src/styles/variables/sizes';

$navbar-height: sizes.$navbar-height;
$navbar-padding: 0 1rem;

:host {
  .navbar {
    height: $navbar-height;
    padding: $navbar-padding;
    display: flex;
    align-items: center;
  }
}
