@mixin panel-menu(
  $item-border-radius: 6px,
  $item-outline-color: #bfdbfe,
  $item-text-color: #6c757d,
  $item-text-highlight-color: $item-text-color,
  $item-padding: 1.25rem,
  $item-font-weight: bold
) {
  .p-panelmenu-header {
    &:not(.p-highlight):not(.p-disabled),
    &.p-highlight:not(.p-disabled) {
      > a {
        &:hover {
          background: transparent;
          border-color: transparent;
        }
      }
    }

    &.p-highlight {
      > a {
        color: $item-text-highlight-color;
        border-bottom-right-radius: $item-border-radius;
        border-bottom-left-radius: $item-border-radius;
        border-color: transparent;
        background-color: transparent;
      }
    }

    > a {
      border-color: transparent;
      background-color: transparent;
      padding: $item-padding;
      font-weight: $item-font-weight;

      &:focus {
        box-shadow: inset 0 0 0 0.2rem $item-outline-color;
      }
    }
  }
}
