@use 'src/styles/overrides/mixins/panel-menus';

$sidebar-background-color: white;
$sidebar-height: 100%;
$sidebar-header-height: 5rem;
$sidebar-padding: 0 1rem;

:host {
  background-color: $sidebar-background-color;
  height: $sidebar-height;
  padding: $sidebar-padding;
  display: flex;
  flex-direction: column;

  .sidebar {
    &__header {
      height: $sidebar-header-height;
      flex: $sidebar-header-height 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__menu {
      &.scrollable {
        overflow: auto;
      }
    }
  }
}
