@use '../../../../styles/variables';

$sidebar-width: variables.$sidebar-width;
$sidebar-height: 100vh;
$navbar-z-index: 100;
$page-content-height: 120vh;
$page-content-margin: variables.$size-32 variables.$size-28;

:host {
  display: flex;

  .main {
    &__sidebar {
      width: $sidebar-width;
      height: $sidebar-height;
      top: 0;
      position: sticky;
      flex: 0 0 auto;
    }

    &__content {
      flex: 1;
    }

    &__navbar {
      z-index: $navbar-z-index;
      top: 0;
      position: sticky;
    }

    &__page {
      margin: $page-content-margin;
      min-height: $page-content-height;
    }
  }
}
