<div class="main-layout">
  <aside class="main-layout__sidebar">
    <app-sidebar>
      <ng-container *ngIf="sidebarMenu$ | async as menu">
        <app-panel-menu [menu]="menu"></app-panel-menu>
      </ng-container>
    </app-sidebar>
  </aside>

  <nav
    class="main-layout__navbar"
    [class.scrolled]="isScrolledDown$ | async"
  >
    <app-navbar>
      <div class="main-layout__navbar-nav">
        <ng-container *ngIf="navbarMenu$ | async as menu">
          <app-menubar [menu]="menu"></app-menubar>
        </ng-container>
      </div>
    </app-navbar>
  </nav>

  <main class="main-layout__content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="main-layout__footer">
    <app-footer></app-footer>
  </footer>
</div>
