@use 'src/styles/variables/sizes';

$sidebar-height: 100%;
$sidebar-header-height: sizes.$navbar-height;
$sidebar-padding: 0 1rem;

:host {
  .sidebar {
    height: $sidebar-height;
    padding: $sidebar-padding;
    display: flex;
    flex-direction: column;

    &__header {
      height: $sidebar-header-height;
      flex: $sidebar-header-height 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__nav {
      &.scrollable {
        overflow: auto;
      }
    }
  }
}
